ion-tab-bar {
  bottom: var(--safe-area-inset-bottom, 20px);
  position: relative;
  border: 0px;
  --border: none;
  margin: 0 auto;
  contain: none;
  --background: transparent;
  background-color: var(--ion-toolbar-background, #fff);
  transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
  border-radius: 50px;
  width: 95%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary);
  }

  &.tab-selected .dot {
    background-color: var(--ion-color-primary);
  }

  ion-icon {
    font-size: clamp(18px, 6vw, 24px);
  }

  ion-label {
    font-size: clamp(10px, 3vw, 13px);
    max-width: 100vw;
    text-align: center;
  }
}

.place {
  transform: translateY(-25px);
}

.dots {
  position: absolute;
  top: 9px;
  left: 47%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  z-index: 11;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: var(--ion-color-medium);
  border-radius: 50%;
}

.search {
  background-color: var(--ion-background-color, #fff);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

ion-tab-button.no-ripple::part(native) {
  --ripple-color: transparent;
}

ion-tab-button::part(native) {
  overflow: visible;
}

.search-label {
  position: absolute;
  bottom: 3px;
}

.custom-ripple-btn ion-icon {
  font-size: 24px !important;
}

.custom-ripple-btn {
  position: relative;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: var(--ion-toolbar-background, #fff);
  transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  overflow: visible;
}

.hidden ion-tab-bar {
  display: none !important;
}
