.favorite-folder {
  .empty-state {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
  }

  .icon-align {
    margin-bottom: 1.5px;
  }
}
