.map-container {
  height: 100vh;
  width: 100%;
  flex: 1;
}

.property-image {
  width: 100px;
  height: auto;
  margin-top: 5px;
}

.no-scrollbar {
  --overflow: hidden;
}

.leaflet-control-attribution {
  filter: invert(90%);

  svg {
    filter: invert(1);
  }
}
