/* Core CSS required for Ionic components to work properly */

:root {
  --ion-color-primary: #fd542d;
  --ion-color-primary-rgb: 253, 84, 45;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #df4a28;
  --ion-color-primary-tint: #fd6542;
  --ion-text-color: #000000;
  --ion-color-secondary: #16171a;

  --ion-text-color-step-50: #0d0d0d;
  --ion-text-color-step-100: #1a1a1a;
  --ion-text-color-step-150: #262626;
  --ion-text-color-step-200: #333333;
  --ion-text-color-step-250: #404040;
  --ion-text-color-step-300: #4d4d4d;
  --ion-text-color-step-350: #595959;
  --ion-text-color-step-400: #666666;
  --ion-text-color-step-450: #737373;
  --ion-text-color-step-500: #808080;
  --ion-text-color-step-550: #8c8c8c;
  --ion-text-color-step-600: #999999;
  --ion-text-color-step-650: #a6a6a6;
  --ion-text-color-step-700: #b3b3b3;
  --ion-text-color-step-750: #bfbfbf;
  --ion-text-color-step-800: #cccccc;
  --ion-text-color-step-850: #d9d9d9;
  --ion-text-color-step-900: #e6e6e6;
  --ion-text-color-step-950: #f2f2f2;
  --ion-background-color: #ffffff;
  --ion-item-background: #f3f3f3;

  --ion-custom-orange: #fff3e6;
  --shadow: #00000040;

  --ion-safe-area-top: var(--safe-area-inset-top);
}

body {
  /* Small line on the bottom when changing the theme*/
  transition: background-color 0.3s ease-in-out;
}

ion-content {
  --padding-bottom: 50px !important; /* Because of TabBar*/
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

.ion-palette-dark {
  --ion-custom-orange: #413c37;
  --shadow: #0000005e;
  --ion-color-secondary: #ffffff;

  .leaflet-bar a {
    background-color: #4d4d4d;
  }

  .leaflet-control-zoom-in {
    border-bottom: 2px solid #292929;
  }
}
